{% extends "output_validator/base.html" %}
{% load output_validator %}
{% block content %}
<a href="../">[up]</a>
<h2>Validation failure details</h2>

<form method="post" action="delete/">{% csrf_token %}<div>
<input type="submit" name="delete" value="Delete" />
</div>
</form>

<table width="100%">
	<tr>
		<th scope="row">Time</th>
		<td>{{ object.timestamp|date:"d M y h:i" }}</td>
	</tr>
	<tr>
		<th scope="row">Request</th>
		<td>{{ object.method }} {{ object.path }}
		{% if object.method == 'GET' %}<a href="{{ object.path|escape }}">[go]</a>{% endif %}
		</td>
	</tr>
	<tr>
		<th scope="row">Errors</th>
		<td><div><pre>{{ object.errors }}</pre></div></td>
	</tr>
	<tr>
		<th scope="row">Content-type</th>
		<td><div><pre>{{ object.get_response|key:"content-type" }}</pre></div></td>
	</tr>
	<tr>
		<th scope="row">Content</th>
		<td><div><pre>{{ object.get_response.content|linenumbers }}</pre></div></td>
	</tr>
	<tr>
		<th scope="row">Original request</th>
		<td><div><pre>{{ object.request }}</pre></div></td>
	</tr>
</table>
<br/>
{% endblock %}
